h1 {
  font-family: 'Sacramento';
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 25px;
  line-height: 31px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
}

p {
  font-weight: 300;
}
